/*Universal styles*/
*{
    font-family: 'lato',sans-serif;
    padding: 0; margin: 0; 
}
button{
    outline: none;
}

hr{
    width: 50%;
}

li { 
    list-style-type: none; 
} 

a { 
    text-decoration: none;
    color: black; 
} 


/*Navbar*/

.navbar{
    display: grid;
    background-color: white;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 10px;   
    margin-left: 5%;
    margin-right: 5%;
}

.logo{
    display: flex;
    justify-items: center;
    align-items: flex-end;
}

.home{
    display: flex;
    justify-self: center;
    align-self: center;
}

.features{
    display: flex;
    justify-self: center;
    align-self: center;
}

.pricing{
    display: flex;
    justify-self: center;
    align-self: center;
}

.how{
    display: flex;
    justify-self: center;
    align-self: center;
}

.support{
    display: flex;
    justify-self: center;
    align-self: center;
}

.navbar>.signin{
    display: flex;
    justify-self: flex-end;
    align-self: center;
    margin-top: 3px;
}

.navbar>.signup{
    justify-self: center;
    align-self: center;
}

button.try{
    display: inline-flexbox;
    justify-self: center ;
    align-self: center;
    padding: 10px 20px 10px 20px;
    border-radius: 12px;
    border: 1px solid #0f40da;
    background-color: #0f40da;
    color: white;
    font-size: 18px;
}

button.signin0{
    display: inline-flexbox;
    justify-self: center ;
    align-self: center;
    padding: 10px 25px 10px 25px;
    border-radius: 12px;
    border: 2px solid #0f40da;
    background-color: white;
    color: #0f40da;
    font-size: 18px;
}

.signin>a{
    color:#0f40da;
}

.signup>a{
    color:white;
    font-size: 2vh;
}

button.signin{
    font-size: 20px;
}

/*Header Content*/

.headercontent {
    display: grid;
    /* grid-template-columns: 3fr 2fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "headermain headerimg"; 
    grid-column-gap: 10px; */
    grid-template-columns: 65% 35%;
    grid-template-rows: auto;
    grid-template-areas: 
        "headermain headerimg";
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    width: 75%;
    margin: 0px auto;
}

.headermain{
    width: 100%;
}

.headermain>h2{
    font-size: 6vh;
    margin: 15% 0 2% 0;  
}

.headermain>h3{
    font-size: 4vh;
    margin: 1% 0 1% 0;
}

.headermain>h4{
    margin: 3% 0 3% 0;
    font-size: 2vh;
    color: #8b8b8b
} 

.headermain>button.signin{
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    border-color: #0f40da;
    color: #0f40da;
}

.headermain>button.signup{
    border-radius: 15px;
    padding: 15px;
    font-size: 20px;
    margin-right: 3%;
    border-color: #0f40da;
    background-color: #0f40da;
    color: white;
}

.headermain>p{
    margin: 3% 0 3% 0;
    font-size: 2vh;
    color: #787878;
}

.headermain>a.headermainsignin{
    color: #8b8b8b;
}

button.headermainsignin{
    padding: 0;
    border-radius: 12px;
    border: none;
    background-color: white;
    color: #8b8b8b;
    font-size: 2.5vh;
    font-weight: bold;
    display: inherit;
}

.headerimg{
    display: flex;
    flex-flow: row nowrap;
    align-content:flex-start;
    justify-content: flex-start;
    width: 100%;
    padding-top: 30%;
    overflow: hidden;
    /* margin-top: 15%;
    margin-right: 15%; */
}

.headerimg img{
    width: 105%;
    height: 105%;
    object-fit: contain;
}

.slogan-box-bait{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.circle-divider{
    margin-left:5px;
    margin-right: 5px;
    height: 8px;
    width: 7px;
    background-color: #0f40da;
    border: 1px solid #0f40da;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 15px;
}

/*Main Content*/
.content-container{
    display:flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: space-between; /* Aligns flex container's 
    lines within when there is extra space in the cross axis
     (horizontally) */
    margin: 50px auto;
}

.content-part-1{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    margin: 50px;
    margin-bottom: 10%;
}

.doubletap-text{
    border-top: 1px solid gray;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.doubletap-row{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 80px auto;
}

.doubletap-row-icon{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: #eee ;
    border:1px solid gray;
    border-radius: 25px;
    margin:0 100px;
    width: 175px;
    height: 190px;
}

.doubletap-row-icon p{
    padding-top: 20px;
}

.doubletap-row-icon img{
    height: 60px;
}

.content-part-2{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto;
    grid-template-areas: 
        content-p2-left content-p2-right;
    justify-items: center;
    align-items: center;
    width: 80%;
    margin: 50px;

}

.content-p2-left{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: stretch;
    margin: 300px 0px;
    background-color:white;
    border: 1px solid lightgray;
    border-top-left-radius: 35px;
    border-bottom-left-radius: 35px;
    width: 100%;
    height: 100%;

}

.content-p2-left img{
    object-fit: contain;
    width: 100%;
    flex-grow: 1;
}

.content-p2-right{
    display: flex;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: flex-start;
    background-color: #0f40da;
    border: 1px solid lightgray;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 100%;
    height: 100%;
}

.content-p2-right-text{
    align-self: flex-start;
    padding-left: 10%;
    padding-right: 10%;
    height: 100%;
    margin-top: 25%;
}

.content-p2-right h2, .content-p2-right p{
    color: white;
    line-height: 30px;
    margin-bottom: 40px;
}

.content-p2-right ul{
    color: white;
    line-height:40px;
    margin-bottom: 40px;
}

.content-p2-right button{
    border-radius: 15px;
    margin: 25px 0px;
    padding: 20px;
    width: 60%;
    font-size: 25px;
    border: 1px solid white;
    background-color: #0f40da;
    color: white;
    align-self: flex-start;
    }

.content-part-3{
    display: flex;
    flex-flow: column nowrap;
    justify-items: space-between;
    align-items: center;
    margin: 75px;
    margin-top: 10%;
}

.content-part-3 h2{
    margin-bottom: 50px;
}

.content-p3-row{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto ;
    grid-template-areas: 
        content-p3-email content-p3-task
        content-p3-analytics content-p3-calendars;
    column-gap: 300px;
    margin: 50px 0;
    justify-items: center;
    align-items: end;

}

/*Footer*/

.circle-divider-2{
    margin-left:5px;
    margin-right: 5px;
    height: 8px;
    width: 7px;
    background-color: #050505;
    border: 1px solid #050505;
    border-radius: 100%;
    margin-left: 15px;
    margin-right: 15px;
}
 
.footer { 
    color: #fff; background: #0f40da; padding: 8em 0; 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 200px;
    height: 50px;
    background-color: #88f157;
    border-radius: 15px;
    border: 2px solid #A2D9CE;
    margin-right: 20%;
    color: #ffffff;
}

.btn:hover{
    background-color: #A2D9CE;
}

.btn-md {
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    border-radius: 15px;
    border: 2px solid #A2D9CE;
}

.btn-md:hover{
    background-color: #A2D9CE;
}

.footer-container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.button-row{
    display: flex;
    flex-flow: row nowrap;
    align-items: center
}
